@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #ffffff;
  font-family: "Rubik", serif;
}

span {
  color: #333333;
}

h1,
h2,
h4 {
  color: #3498db;
}

.logo {
  font-family: "Archivo Black", serif;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.loader_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-right-enter-active,
.fade-right-leave-active {
  transition: all 1s;
}

.fade-right-enter-from,
.fade-right-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.fade-right-enter-to,
.fade-right-leave-from {
  transform: translateX(0);
  opacity: 1;
}

.fade-left-enter-active,
.fade-left-leave-active {
  transition: all 1s;
}

.fade-left-enter-from,
.fade-left-leave-to {
  opacity: 0;
  transform: translateX(-20px);
}

.fade-left-enter-to,
.fade-left-leave-from {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-enter-active,
.fade-in-leave-active {
  transition: opacity 1.5s;
}

.fade-in-enter-from,
.fade-in-leave-to {
  opacity: 0;
}

.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background-image: linear-gradient(#3498db 16px, transparent 0),
    linear-gradient(#2c3e50 16px, transparent 0),
    linear-gradient(#2c3e50 16px, transparent 0),
    linear-gradient(#3498db 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 640px) {
  * {
    font-size: 14px;
  }

  input,
  textarea {
    font-size: 16px;
  }
}
